{% extends "base.html" %}
{% load addcss %}

{% block extra_head %}
<style>
	.form-signin input[type="text"] {
        margin-bottom: 5px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .form-signin .form-control {
        position: relative;
        font-size: 16px;
        height: auto;
        padding: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .form-signin .error {
    	margin-bottom: 10px;
    	color: #d9534f;
    }
    .vertical-offset-200 {
        padding-top: 200px;
    }
    .img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
    }
    .panel {
	    margin-bottom: 20px;
	    background-color: rgba(255, 255, 255, 0.75);
	    border: 1px solid transparent;
	    border-radius: 4px;
	    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    }
</style>
{% endblock %}

{% block content %}
	<div class="container">
                <div class="row vertical-offset-200">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <form action="" method="POST" accept-charset="UTF-8" role="form" class="form-signin">
                                	{% csrf_token %}
                                    <fieldset>
                                    	{% if form.non_field_errors %}
                                    	{% for error in form.non_field_errors %}
                                        <div class="error">{{ error }}</div>
                                        {% endfor %}
                                        {% endif %}
                                        
                                        {{ form.username|addcss:"class,form-control,placeholder,Username" }}
                                        <br />
                                        {{ form.password|addcss:"class,form-control,placeholder,Password" }}
                                        {{ form.password2|addcss:"class,form-control,placeholder,Password (again)" }}
                                        
                                        <br />
                                        <br />
                                        <input class="btn btn-success btn-block" type="submit" id="register" value="Register">
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}