html {
	height: 100%;
}

body {
	height: 100%;
	background-image: url('/static/img/bg.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	color: black;
}

a, a:visited {
	color: black;
}

.role-img {
	width: 20px;
	height: 20px;
}

.player-tricks {
	float: right;
}

.player {
	position: absolute;
}

.player .player-centerer {
	padding: 5px;
}

.player h3 {
	margin: 0;
	border-bottom: 2px solid black;
}

.player p {
	margin: 5px 0 0 0;
}

.player h3 p.score {
	float: right;
	margin: 0;
	font-weight: normal;
}

#player0 {
	bottom: 0;
}

#player0 .player-cards,#player2 .player-cards {
	top: 60px;
	text-align: center;
	position: absolute;
	width: 1000px;
	left: -250px;
	margin-left: 25px;
}

#player1 .player-cards,#player3 .player-cards {
	top: 100px;
	left: 52px;
	position: absolute;
}

#player0 .player-cards a,#player2 .player-cards a {
	text-decoration: none;
}

#player0 .player-cards img {
	margin-left: -40px;
}

#player1 .player-cards .card-back,#player3 .player-cards .card-back {
	width: 96px;
	height: 72px;
	background-image: url("/static/img/cards/B1.png");
	display: block;
	margin-top: -40px;
}

#player2 .player-cards .card-back {
	width: 72px;
	height: 96px;
	background-image: url("/static/img/cards/B2.png");
	display: inline-block;
	margin-left: -40px;
}

.player .current-bid {
	position: absolute;
	top: 30px;
	margin: 0;
}

#player1 {
	left: 10px;
}

#player2 {
	top: 40px;
}

#player3 {
	right: 10px;
}

#player0,#player2 {
	left: 50%;
}

#player1,#player3 {
	width: 300px;
	top: 20%;
}

#player0 .player-centerer,#player2 .player-centerer {
	position: relative;
	left: -50%;
	width: 500px;
	height: 150px;
}

#playfield-centerer {
	position: absolute;
	left: 50%;
	top: 40%;
}

#playfield-centerer #playfield-container {
	position: relative;
	left: -50%;
	top: -50%;
}

#current-trick-display {
	width: 250px;
	height: 200px;
	position: relative;
}

#trick-card-0 {
	position: absolute;;
	bottom: 0;
	left: 89px;
}

#trick-card-1 {
	position: absolute;;
	left: 0;
	top: 52px;
}

#trick-card-2 {
	position: absolute;;
	top: 0;
	left: 89px;
}

#trick-card-3 {
	position: absolute;;
	right: 0;
	top: 52px;
}

#round-trump-display {
	position: absolute;
	top: 0;
	left: 15px;
}